.download-block {
  background-color: #1d2631;
  color: #fff;

  @media @tablet-widths {
    background-color: transparent;
  }
}

.download-block__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 30px 20px;
  height: 215px;

  @media @tablet-widths {
    align-items: flex-start;
    height: 240px;
  }

  @media @desktop-widths {
    height: 280px;
  }
}

.download-block__button {
  display: flex;
  justify-content: center;
  width: 280px;
  margin-bottom: 5px;

  @media @tablet-widths {
    width: 300px;
  }
}

.download-block__link {
  padding: 15px 25px;
  width: 280px;
  border: 3px solid #fff;
  border-radius: 50px;
  font-size: @font-size;
  font-weight: @font-weight-bold;
  line-height: @line-height;
  text-decoration: none;
  text-align: center;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: @accented-text-color;
  }

  &:active {
    background-color: #fff;
    color: rgba(210, 40, 86, 0.3);
  }

  @media @desktop-widths {
    font-size: 21px;
  }
}

.download-block__icon {
  font-size: 0;
}

.download-block__icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 203px;

  @media @tablet-widths {
    margin-left: 48px;
  }
}

.download-block__icon-link {
  display: block;
}

.download-block__icon-apple {
  margin-top: 7px;
}

.download-block__icon-android {
  margin-top: 17px;

  @media @only-tablet-widths {
    opacity: 0.6;
  }
}

.download-block__icon-microsoft {
  margin-top: 19px;
}

.download-block__info {
  margin: 0;
  text-align: center;
  font-weight: @font-weight-light;
  line-height: 24px;

  @media @tablet-widths {
    width: 300px;
    font-size: @font-size;
    line-height: 24px;
  }
}
