.study {
  display: none;

  @media @tablet-widths {
    display: block;
    justify-content: flex-end;
  }

  @media @desktop-widths {
    background: @grey-color;
  }
}

.study__wrapper {
  .container();
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 59px;
  margin-bottom: 67px;

  @media @desktop-widths {
    margin: 0 auto;
    padding-bottom: 63px;
    padding-top: 15px;
  }
}

.study__timer {
  position: relative;
}

.study__timer svg {
  fill: #dedede;

  @media @desktop-widths {
    width: 300px;
    height: 345px;
  }
}

.study__timer-wrap::before {
  content: "24";
  position: absolute;
  display: block;
  left: 50%;
  top: 55px;
  margin-left: -101px;
  width: 175px;
  height: 175px;
  font-size: 96px;
  line-height: 164px;
  text-align: center;
  color: @accented-text-color;
  font-weight: @font-weight-bold;
  border: 14px solid @accented-text-color;
  border-radius: 50%;

  @media @desktop-widths {
    width: 220px;
    height: 220px;
    top: 69px;
    margin-left: -129px;
    font-size: 120px;
    line-height: 204px;
    border: 17px solid @accented-text-color;
  }
}

.study__content {
  width: 50%;
  margin: 0;
  padding-top: 37px;

  @media @desktop-widths {
    width: 574px;
    padding-top: 94px;
  }
}

.study__title {
  width: 170px;
  margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-size: 30px;
  line-height: 36px;

  @media @desktop-widths {
    width: auto;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.study__text {
  margin: 0;
  margin-bottom: 7px;
  line-height: 24px;

  @media @desktop-widths {
    font-size: @font-size;
    line-height: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
}

.study__link {
  color: @accented-text-color;
  line-height: 30px;

  @media @desktop-widths {
    font-size: @font-size;
  }
}
