.comment {
  .container();
  text-align: center;
}

.comment__wrapper {
  margin: 40px 20px;
}

.comment__user-name {
  font-size: @font-size;
  font-style: normal;
  font-weight: @font-weight-bold;
  line-height: 30px;
}

.comment__text {
  color: @basic-text;
  line-height: 30px;
}
