
.contacts__heading-text {
  font-size: 24px;
}

.contacts__title {
  margin-bottom: 5px;
  color: #283645;
  font-size: 18px;
  font-weight: bold;
}

.contacts__link {
  color: #d22856;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
}
