.download-block {
  background-color: #1d2631;
  color: #fff;

  @media @tablet-widths {
    background-color: transparent;
  }
}

.download-block__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px 20px;
  height: 210px;

  @media @tablet-widths {
    height: 240px;
  }

  @media @desktop-widths {
    height: 280px;
  }
}

.download-block__icon {
  font-size: 0;
}

.download-block__icon-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media @tablet-widths {
    width: 300px;
  }
}

.download-block__icon-iOS {
  width: 47px;
  height: 60px;
  background: url("../img/logo-apple.svg") no-repeat;
}

.download-block__icon-android {
  width: 43px;
  height: 47px;
  background: url("../img/logo-android.svg") no-repeat;
}

.download-block__icon-windows {
  width: 44px;
  height: 41px;
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.download-block__info {
  margin: 0;
  text-align: center;
  font-weight: @font-weight-light;

  @media @tablet-widths {
    width: 300px;
    font-size: @font-size;
    line-height: 24px;
  }
}
