
.download-block {
  padding: 28px 18px;
  background-color: #1d2631;
  color: #fff;
}

.download-app__link {
  color: #fff;
}

.download-block__icon {
  font-size: 0;
}

.download-block__icon-iOS {
  width: 47px;
  height: 60px;
  background: url(../img/logo-apple.svg) no-repeat;
}

.download-block__icon-android {
  width: 43px;
  height: 47px;
  background: url(../img/logo-android.svg) no-repeat;
}

.download-block__icon-windows {
  width: 44px;
  height: 41px;
  background: url(../img/logo-microsoft.svg) no-repeat;
}
