.field-radio {
  padding: 30px 20px;
  background-color: @grey-color;
}

.field-radio__title {
  margin: 0 50px 30px 50px;
  text-align: center;
  color: @accented-text;
  line-height: @line-height;
}

.field-radio__item {
  display: block;
  margin-left: 70px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
}

.field-radio__item:last-child {
  margin-bottom: 0;
}
