.field-text {
  padding: 30px 20px;
}

.field-text__title {
  margin-bottom: 15px;
  color: @accented-text;
  text-align: center;
  line-height: @line-height;
  text-transform: uppercase;
}

.field-text__title--visibility {
  display: none;
}

.field-text__item {
  line-height: 30px;
  color: @accented-text;
  text-transform: uppercase;
}

.field-text__input {
  min-width: 240px;
  padding: 5px 20px;
  line-height: 30px;
  font-size: @font-size;
  color: @basic-text;
}

