.footer {

  &--visibility {
    display: none;

    @media @tablet-widths {
      display: block;
    }
  }
}

.footer__wrapper {
    .container();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
  text-align: center;
}
