.form__endnote {
  text-align: center;
  line-height: 30px;
  color: @text-color;
  text-transform: uppercase;
}

.form__mark {
  color: @accented-text-color;
}

.form__button-wrap {
  .container();
}

.form__btn {
  display: block;
  padding: 15px 0;
  margin-bottom: 40px;
  min-width: 280px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: @font-size;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2aab6d;
}
