
.header {
  .container();
  background: #2b3b4b url(../img/bg-back-mobile@1x.jpg) no-repeat;
}

.header-wrapper {

}

.header-top {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-intro {
  color: #fff;
  font-size: 24px;
}


