.header-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  @media @tablet-widths {
    margin: auto 0;
  }
}

.header-intro__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-intro__img {
  align-self: flex-start;
}

.header-intro__text {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: @font-weight-light;

  &--visibility {
    display: none;

    @media @tablet-widths {
      display: block;
    }
  }

  @media @tablet-widths {
    width: 235px;
    padding: 0 30px;
    margin-bottom: 35px;
    font-size: 40px;
  }

  @media @desktop-widths {
    font-size: 50px;
  }
}
