.post {
  width: 280px;
  margin: 0 20px 15px;
  background-color: @grey-color;
}

.post__content {
  margin: 0;
}

.post__description {
  margin: 0;
  padding: 20px 15px;
  line-height: 24px;
}

.post__user-info {
  font-size: 12px;
  font-style: normal;
}

.post__user-name {
  font-size: 14px;
  font-weight: bold;
}

.post__time {
  font-weight: normal;
}

.post__btn {
  margin-left: 45px;
  font-size: 12px;
  line-height: 24px;
  color: @red-color;
  text-decoration: none;
  text-transform: uppercase;
}
