.post {
  min-width: 280px;
  margin: 20px;
  background-color: @grey-color;
}

.post__content {
  margin: 0;
  text-align: center;
}

.post__img--best {
  margin-left: -20px;
}

.post__description {
  margin: 0 20px;
  line-height: 24px;
}

.post__user-info {
  font-size: 12px;
  font-style: normal;
  font-weight: @font-weight-light;
  text-transform: uppercase;
}

.post__user-name {
  font-size: 14px;
  font-weight: @font-weight-bold;
  text-transform: none;
}

.post__time {
  font-weight: @font-weight-normal;
}

.post__text {
  margin: 0;
  margin-bottom: 10px;
  color: @basic-text;
}

.post__btn {
  margin-left: 45px;
  font-size: 12px;
  line-height: 24px;
  color: @accented-text;
  text-decoration: none;
  text-transform: uppercase;
}
