.price {
  background-color: @grey-color;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 45px;
  overflow: hidden;

  @media @tablet-widths {
    padding-top: 97px;
  }

  @media @desktop-widths {
    padding-top: 143px;
    padding-bottom: 0;
  }
}

.price__toggle {

  @media @tablet-widths {
    display: none;
  }
}
