.social__list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: transparent;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: @text-color;
  }

  &:active {
    border-color: @text-color;
    opacity: 0.3;
  }
}

.social__icon {
  fill: @accented-text-color;
  margin: auto;
}
